@import url("default.css");

body {
  background-color: white;
  font-family: Arial,Geneva,Helvetica,sans-serif;
}

a:visited {
	color: #85546C;
}

dt:target, .highlighted {
  background-color: white;
}

dd {
  margin-top: 10px;
  margin-left: 10px;
}

pre {
  overflow: auto;
  background: #EFEFEF;
  border: 1px solid #A0A0A0;
  padding: .5em;
}

div.body div.section:first-child h1 {
  font-size: 160%;
  margin-top: 0px;
  padding-top: 10px;
}

div.section h1 + div > h2 {
  margin-top: 20px;
  padding-top: 0px;
}

div.section h1 + p + div > h2 {
  margin-top: 0px;
  padding-top: 0px;
}

div.bodywrapper {
  padding-left: 10px;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
  border-bottom: 0px;
}

div.body p, div.body dd, div.body li {
  /*line-height: 100%;*/
}

div.body h1 {
  font-size: 130%;
  margin-top: 0px;
  background-color: rgb(234,239,254);
  padding-left: 1px;
}

div.body h2 {
  font-size: 115%;
  background-color: rgb(242,248,254);
  margin-left: -30px;
}

div.body h3 {
  font-size: 100%;
  border-bottom: 1px solid rgb(185,189,224);
  background-color: white;
  margin-left: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: inline-block;
}

div.body dl {
  margin-top: -5px;
}

div.document {
  background-color: white;
}

div.footer {
  color: black;
  text-align: right;
  padding-bottom: 5px;
}

div.footer a {
  color: #355F7C;
  text-decoration: underline;
}

div.related {
  background-color: #F5F5FA;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  color: black;
  line-height:30px;
  position: fixed;
  bottom: 0pt;
  right: 0pt;
  text-align: right;
  width: auto;
}

div.related ul li a {
  color: #355F7C;
}

div.related ul li img  {
  vertical-align: middle;
}

div.section h1 {
  margin-top: 20px;
  margin-left: -30px;
  padding-left: 4px;
}

div.section h3 {
  margin-left: -10px;
}

div.sphinxsidebar {
  background-color: #F5F5FA;
  margin-left: 0pt;
  position: fixed;
  top: 0pt;
  left: 0pt;
}

/*
  this makes the table of contents always be as high as the browser, but it conflicts with the footer.
*/
html, div.document, div.documentwrapper, div.bodywrapper, div.sphinxsidebar {
  height: 100%;
}
div.sphinxsidebarwrapper {
  height: 99%;
  overflow:auto;
}

div.sphinxsidebar a {
  color: #355F7C;
}

div.sphinxsidebar h3 a {
  color: #355F7C;
}

div.sphinxsidebar ul {
  color: black;
}
div.sphinxsidebar li li {
  margin-left: 0px;
}
div.sphinxsidebar li li li {
  list-style-type: circle;
}

table.docutils table {
  font-size: 75%;
}

table.docutils table th {
  background-color: white;
  border-color: rgb(218,218,218);
}

table.docutils table {
  border-color: rgb(218,218,218);
}

table.docutils tr:first-child td {
  border-top: 0;
}

table.docutils {
  border-color: rgb(168,168,168);
  margin: 2pt -0.3em;
}

table.docutils th {
  vertical-align: top;
}

table.docutils td {
  padding-top: 5px;
}

tt.xref {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
  font-family:sans-serif;
}

a.reference tt.xref {
  font-style: normal;
}

tt.descname {
  font-weight: normal;
  font-size: 85%;
  font-family: sans-serif;
  padding-bottom: 5px;
}

tt.descname#mlab_title {
  color: rgb(118, 118, 138);
  padding-bottom: 2px;
}

table.parameter-fields-index {
  border: 0 none white;
}

table.parameter-fields-index td {
  border-style: none none none;
}

table.parameter-fields-index a > tt > span {
  font-style: normal;
}

table.parameter-fields-index td > tt {
  background-color: white;
  margin-left: 0px;
  margin-right: 5px;
}

table.parameter-fields-index td > tt > span {
  font-weight: normal;
  font-size: 100%;
  font-family: sans-serif;
}

.enum-field-values th {
  background-color: rgb(245,249,254);
  font-size: 90%;
}

.enum-field-values td {
  font-size: 90%;
}

table.enum-field-values table tr td {
  border-color: #DADADA;
}

table.enum-field-values table tr:last-child td {
  padding-bottom: 5px;
}

div.highlight pre {
  background-color: rgb(242,242,242);
  border-color: rgb(182,182,182);
  border-width: 1px;
  border-style: solid solid;
}

/* paragraphs preceeding math paragraphs should have only a small bottom margin */
p.pre-math {
  margin-bottom: 2px;
}

p.math {
  font-family: Verdana,serif;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-bottom: 2px;
}

img.align-right {
  float: right;
  margin-left: 1em;
}

